div.wrapper {
    width: 100%;
  }
  div.wrapper > header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }
  div.wrapper > header > div {
    width: 100%;
    height: inherit;
    background-color: whitesmoke;
  }
  div.wrapper > header > div:nth-of-type(1) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    order: 2;
  }
  div.wrapper > header > div:nth-of-type(1) > div {
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  div.wrapper > header > div:nth-of-type(1) > div > a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    font-family: sans-serif;
    color: #2b2b2b;
  }
  div.wrapper > header > div:nth-of-type(1) > div:nth-of-type(1) {
    cursor: pointer;
  }
  div.wrapper > header > div.submenu {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: lightgray;
    box-shadow: 5px 5px 5px black;
    position: absolute;
    padding: 0 !important;
    left: 0;
    top: 82px;
    display: none;
  }
  div.wrapper > header > div.submenu > div:nth-of-type(1) {
    width: 15%;
    height: inherit;
    background-color: green;
  }
  div.wrapper > header > div.submenu > div:nth-of-type(2) {
    width: 85%;
    height: inherit;
    background-color: darkslategrey;
  }
  div.wrapper > header > div:nth-of-type(2) {
    display: flex;
    order: 1;   
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  div.wrapper > header > div:nth-of-type(2) > svg {
    transform: scale(0.1, 0.1); 
  }
  div.wrapper > header > div:nth-of-type(3){
      display: flex;
      width:100%;
      flex-flow: column wrap;
      gap: 15px;
      justify-content: space-around;
      align-items: center;
    
  }
  div.wrapper > header > div:nth-of-type(3){
    order: 3;
  }
  div.wrapper > header > div:nth-of-type(3)>div{
      width: auto;
      padding: 10px;
      box-sizing: border-box;
  }
  div.wrapper > header > div:nth-of-type(3)>div:nth-of-type(1){
      width: 100%;
  }
  div.wrapper > header > div:nth-of-type(3)>div:nth-of-type(1)>input[type=text]{
      display: none;
  }
  div.wrapper > header > div:nth-of-type(3)>div:nth-of-type(1){
    text-align: center;
}
div.wrapper > header > div:nth-of-type(3)>div:nth-of-type(1)>.fa-search{
    cursor: pointer;
}
  div.wrapper > header>div.rightMenu{
      width: 20%;
      height: calc(100vh - 140px);  
      background-color: rgb(245, 243, 243);
      position: absolute;
      right: 10px;
      top: 140px;
      display: none;
}
div.searchZoom{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  div.searchZoom>input[type=text]{
    width: 90%;
    height: 40px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  div.searchZoom>span.closeSearch{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: crimson;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 35px;
    color: whitesmoke;
    font-size: 40px;
    cursor: pointer;
  }